.container > p {
	font-family: 'Montserrat', sans-serif;
	display: block;
	width: 80%;
	margin-bottom: 200px;
	margin-top: 100px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}