html {
	width: 100%;
	background-color: #587291;
}

header {
	height: 300px;
	background-color: white;
	border-bottom: 10px solid #D11AC6;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.container {
	width: 100%;
}

header h1 {
	font-size: 90px;
	color: #7600D2;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	padding: 50px;
}

header div#title-head {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

header div#head-content {
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
}

header div#languages {
	width: 40%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

header div#languages span {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

header div#languages span p{
	font-size: 20px;
	color: rgb(77, 77, 77);
	font-weight: bold;
}

header div#languages span {
	font-size: 40px;
	margin-top: 20px;
}

header h2 {
	font-size: 40px;
	color: #1CCAD8;
	font-family: 'Montserrat Alternates', sans-serif;
	padding-left: 50px;
}

header #title-head .fab {
	font-size: 70px;
	color: rgb(77, 77, 77);
	padding-left: 50px;
}

div#intro {
	height: 200px;
	background-color: white;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

div#intro p {
	font-family: 'Montserrat Alternates', sans-serif;
	color: #09059A;
	text-align: center;
	width: 40%;
}