header {
    background-image: none;
    background-color: black;
}

header h1 {
    color: #36382E;
    text-shadow: #36382E 5px 5px 20px;
}

header p {
    text-shadow: #36382E 5px 5px 20px;
}

nav a {
    color: #36382E;
}

#main-content {
    background-color: black;
    color: black;
    position: relative;
}

#instructions {
    position: relative;
    left: 30%;
    padding-top: 60%;
    display: inline-block;
}

#goNext {
    visibility: hidden;
}