header {
    background-image: none;
    background-color: black;
}

header h1 {
    color: #36382E;
    text-shadow: #36382E 5px 5px 20px;
}

header p {
    text-shadow: red 5px 5px 10px;
}

nav a {
    color: #36382E;
}